<launch>
        <param name="my2drobo" command="cat $(find my_2d_robot)/package.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="my_2d_robo_state_publisher" pkg="my_2d_robot" type="state_publisher" />
        </launch>
        